@model CarRental.ViewModels.AddVehicleViewModel

  @* <form asp-action="EditMyCar" method="post" enctype="multipart/form-data"> *@
    <form asp-action="EditMyCar" asp-route-vehicleId="@Context.Request.Query["vehicleId"]" method="post" enctype="multipart/form-data">
      
    <div class="form-group">
        <label asp-for="Make"></label>

        <input asp-for="Make" class="form-control" list="carMakes" />

        <datalist id="carMakes">
            <option value="Audi"></option>
            <option value="Mercedes"></option>
            <option value="BMW"></option>
            <option value="Toyota"></option>
            <option value="Ford"></option>
            <option value="Volkswagen"></option>
        </datalist>

        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div>
        <label>Model</label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model"></span>
    </div>

    <div>
        <label>Cubic</label>
        <input asp-for="Cubic" type="number" class="form-control" />
    </div>

    <div>
        <label>Year</label>
        <input asp-for="Year" type="number" class="form-control" />
    </div>

    <div>
        <label>PricePerDay</label>
        <input asp-for="PricePerDay" type="number" class="form-control" />
    </div>

    <div>
        <label>Location</label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location"></span>
    </div>

    <div>
        <label>Comments</label>
        <textarea asp-for="Comments" class="form-control"></textarea>
        <span asp-validation-for="Comments"></span>
    </div>

    <div>
        <label>Image</label>
        <input asp-for="ImageFile" type="file" />
        <span asp-validation-for="ImageFile"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsAvailable" type="checkbox" class="form-check-input" id="availableCheck" />
        <label class="form-check-label" for="availableCheck">
            Available for Rent
        </label>
    </div>

    <button type="submit">Submit</button>

</form>